<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:property-placeholder location="classpath:config.properties" />

    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven />
    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="com.lk.blog.controller"></context:component-scan>

    <!-- freemarker -->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="WEB-INF/ftl/" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="freemarkerVariables">
            <map>
                <entry key="staticPath" value="${freemarker.staticPath}" />
            </map>
        </property>
    </bean>

    <!-- freemarker 静态类的配置位置 -->
    <bean id="freemarkerStatic" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:staticClass.properties" />
    </bean>
    <!-- freemarker 静态类的解析配置-->
    <bean id="freemarkerStaticModels" class="com.lk.blog.utils.FreemarkerStaticModels" factory-method="getInstance">
        <property name="staticModels" ref="freemarkerStatic"/>
    </bean>
    <!--视图解析 -->
    <bean id="view" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
        <property name="contentType" value="text/html;charset=UTF-8" />
        <property name="cache" value="false" />
        <property name="suffix" value=".ftl" />
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="requestContextAttribute" value="rc"/>
        <property name="attributesMap" ref="freemarkerStaticModels" />
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxUploadSize" value="102400" />
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <bean class="com.lk.blog.interceptor.PrivilegeInterceptor" />
    </mvc:interceptors>

    <!-- 静态资源访问 -->
    <mvc:resources location="/build/" mapping="/build/**" />
    
</beans>