<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.blog.mapper.UserMapper">

    <insert id="addUser" parameterType="user">
        INSERT INTO user (id, username, email, password) VALUES(uuid(), #{username}, #{email}, #{password});
    </insert>

    <select id="getUserById" parameterType="String" resultType="user">
        SELECT * FROM user where id = #{id}
    </select>

    <delete id="deleteUserById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="getUserByEmail" resultType="user">
        SELECT * FROM user WHERE email = #{email}
    </select>

</mapper>